// Colors
$color-shadow-light: rgba(0, 0, 0, 0.1);
$color-shadow-medium: rgba(0, 0, 0, 0.15);
$color-shadow-dark: rgba(0, 0, 0, 0.2);

// Shadows
$shadow-near: 0 2px 4px;
$shadow-medium: 0 4px 8px;
$shadow-far: 0 8px 16px;
