@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: #facc15;
    --main-light: #fef08a;
    --main-dark: #b89b00;
  }

  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --card: #f3f3f3;
    --card-hover: #f8f8f8;
    --sidebar: #fbfbf9;
    --border: #e5e7eb;
    --icon: #4b5563;
    --gray-button: #374151;
  }

  .dark {
    --background: #1a1a1a;
    --foreground: #ffffff;
    --card: #1f2937;
    --card-hover: #333333;
    --sidebar: #111827;
    --border: #374151;
    --icon: #9ca3af;
    --gray-button: #d1d5db;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn-primary {
    /* @apply bg-yellow text-gray-900 px-4 py-2 rounded-lg hover:bg-yellow-dark transition-colors; */
  }

  .btn-secondary {
    @apply rounded-lg bg-gray-100 px-4 py-2 text-gray-900 transition-colors hover:bg-gray-200 dark:bg-gray-800 dark:text-gray-100 dark:hover:bg-gray-700;
  }
}
