@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1a1a1a;
    --card: #ffffff;
    --card-hover: #f8f8f8;
    --sidebar: #fbfbf9;
    --sidebar-hover: #f3f4f6;
  }

  .dark {
    --background: #1a1a1a;
    --foreground: #ffffff;
    --card: #2a2a2a;
    --card-hover: #333333;
    --sidebar: #111827;
    --sidebar-hover: #1f2937;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn-primary {
    /* @apply bg-yellow text-gray-900 px-4 py-2 rounded-lg hover:bg-yellow-dark transition-colors; */
  }

  .btn-secondary {
    @apply rounded-lg bg-gray-100 px-4 py-2 text-gray-900 transition-colors hover:bg-gray-200 dark:bg-gray-800 dark:text-gray-100 dark:hover:bg-gray-700;
  }
}
